.MuiGrid-container {
	justify-content: center;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1d6a3hl-MuiPaper-root-MuiAppBar-root {
	background-color: steelblue;
}

a[type="link"] {
	color: white;
}

span[type="name"] {
	margin-left: 10px;
}