#banner {
  background-image: url(../../images/hospitality_2.jpg);
  width: 100%;
  margin: 0px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  text-decoration: none;
  color: white;
  margin: 5px;
}

#title {
  font-family: Luminari, fantasy;
  font-size: 50px;
}